{% load static wagtailuserbar%}

<!DOCTYPE html>
<html class="no-js h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}| {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <div id="mySidenav" class="sidenav closed">
            <a href="javascript:void(0)" id="closebtn" class="closebtn">&times;</a>
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="/resources">Resources</a>
            <a href="/data-explorer">Data Explorer</a>
        </div>

        <div id="main" class="main-container closed h-100">

            <header class="w-100 pa3 ph5-ns bg-white-header">
                <div class="db dt-ns mw9 center w-100">
                    <div class="db dtc-ns v-mid tl w-100">
                        <span id="hamburger" class="hamburger dark"></span>
                        <a href="/" class="dib ma0 link w-50 w-20-l f3">
                            <img src="{% static 'img/Unite-Pinellas-Logo-Dark.png' %}" />
                        </a>
                    </div>
                </div>
            </header>

            {% wagtailuserbar %}

            <main class="w-100 h-100">
                {% block content %}{% endblock %}
            </main>

        </div>



        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
