{% load static wagtailcore_tags wagtailimages_tags %}

<div class="ph3 ph5-ns pt4 pt5-ns pb4 pb5-ns bg-mid-gray">
    <div class="cf mw9 center">
        <div class="fl w-50-l w-100-m">
            <img src="{% static 'img/Unite-Pinellas-Logo.png' %}" class="w-50-l w-60-ns w-70" />
            <div class="fl pr5-l pr0-m tr-l tc">
                <h3 class="f3 fw6 gold w-60-l w-100-m fr mt5">
                    {{ footer.subscribe }}
                    <br />
                    <a class="f3 fw6 grow no-underline ba br2 ph3 pv3 mt2 mb5 dib light-gray" href="https://forms.gle/fFecEAzeeK8H7FjF9">Email Updates</a>
                </h3>
                <h3 class="f3 fw6 gold w-60-l w-100-m fr-l">
                    {{ footer.questions }}
                    <br />
                    <a class="f3 fw6 grow no-underline ba br2 ph3 pv3 mt2 mb5 dib light-gray" href="https://forms.gle/wCEKHiwsBTUjqwe46">Send a message</a>
                </h3>
            </div>
        </div>
        <div class="fl ph3 ph5-ns pt1 pt4-ns w-50-l w-100-m black-80">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=Pinellas+County,FL&zoom=10&size=1000x1000&maptype=terrain&key=AIzaSyAEnUZecctB2wagMLHFRsZe6BNm-uMDehg" class="w-100" />
            <div class="fl ph0 ph3-ns pt1 pt3-ns footer-contact">
                {{ footer.contact|richtext }}
            </div>
        </div>
    </div>
</div>


