
#map {
}

.bg-lighter-gray {
	background-color: #f7f7f7;
}

.map-height {
	height: 83.75%;
}

hr.thin {
	height: 1px;
	border: none;
	background-color: #ccc;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.leaflet-popup-content-wrapper {
	border-radius: 4px;
}

.leaflet-popup-content p {
	margin-top: 8px;
}

.leaflet-popup-tip-container {
	height: 30px;
}

.leaflet-popup-tip {
	width: 0;
  height: 0;
  border-top: 27px solid white;
  border-right: 15px solid transparent;
	background: none;
	transform: none;
	margin: 0 auto;
	box-shadow: none;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.leaflet-tooltip {
	padding: 2px 8px 3px;
}

.housing-tooltip {
	padding: 3px 10px 5px;
}
