@import'tachyons/css/tachyons.min.css';

.bg-center {
    background: url(../img/circle-left.png) center left no-repeat, url(../img/circle-center.png) top center no-repeat, url(../img/circle-right.png) center right no-repeat;
}

.bg-white-header {
    background: url(../img/interior-header.png) top center no-repeat white;
}

.hamburger {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    margin-right: 2em;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.60em;
    left: 0px;
    width: 100%;
}

.hamburger.white {
    border-top: 0.3em solid #fff;
    border-bottom: 0.3em solid #fff;
}

.hamburger.white:before {
    border-top: 0.3em solid #fff;
}

.hamburger.dark {
    border-top: 0.3em solid #5E5C5E;
    border-bottom: 0.3em solid #5E5C5E;
}

.hamburger.dark:before {
    border-top: 0.3em solid #5E5C5E;
}

.chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 2em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 2em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron-small::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
}

.chevron-small.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.two-columns {
    column-width: 20rem;
}

.rich-text p {
    margin-top: 0;
}

iframe {
  max-width: 100%;
}

img.richtext-image {
  height: auto;
}

select#issue-select {
  height: 34px;
}

#selected-btn {
  border: 1px solid #4ba0d1;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav.open {
    width: 250px;
    border-right: 1px solid #5E5C5E;
}

.sidenav.closed {
    width: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.25rem;
    color: #5E5C5E;
    display: block;
    transition: 0.3s;
    letter-spacing: 1px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #aaa;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

.main-container {
    transition: margin-left .5s;
}

.main-container.open {
    margin-left: 250px;
}

.main-container.closed {
    margin-left: 0;
}

.right {float: right;}

select#issue-select {
  height: 35px;
}

a#selected-btn {
  border-color: #4ba0d1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* accordion CSS from https://codepen.io/pollardld/pen/BaADg/ */

[id*="open-accordion"], [id*="close-accordion"] {
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
}

[id*="close-accordion"] {
  display: none;
}

.target-fix {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.accordion-content {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
}

.accordion span:target ~ .accordion-content {
    display: block;
    height: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#controls .accordion span:target ~ .accordion-content {
    padding-bottom: 0;
    padding-top: 0;
}

@media (min-width: 60em) {
    .accordion span:target ~ .accordion-content {
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    #controls .accordion span:target ~ .accordion-content {
        padding-bottom: 0;
        padding-top: 0;
    }
}



.accordion span:target ~ [id*="close-accordion"] {
    display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
    display: none;
}

.footer-contact .rich-text p {
    margin-bottom: 0.125rem;
    color: #FDE28E;
}

.footer-contact .rich-text a {
    color: #ECECEC;
}
